<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Cuentas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
  			        crossorigin="anonymous">
    </script>
  </head>
  <body style="margin:10px 400px 0 400px">
	<div th:insert="~{menu :: menu}"></div>
	<div class="container">
  		<button class="btn btn-outline-success float-end mt-3"  role="button" onclick="altaForm('/fragmento/cuenta')">Nueva cuenta</button>
  	</div>
  	<div class="container">
      <div th:unless="${#lists.isEmpty(cuentas)}">
        <table class="table table-sm caption-top">
          <caption >Cuentas</caption>
          <tr>
            <th>Código</th><th>Nombre</th><th></th><th></th>
          </tr>
    	  <tr th:each="cuenta : ${cuentas}">
    	    <td th:text="${cuenta.codigo}">Código</td>
          	<td class="editable">
          	  <span  th:text="${cuenta.nombre}">Nombre</span>
          	  <input type="hidden" value=""/>
          	  <div class="error d-none text-danger">Mensaje de error</div>
          	</td>
            <td><button class="eliminar btn btn-outline-danger btn-sm" alt="Eliminar" 
                        data-bs-toggle="tooltip" data-bs-placement="right" title="Eliminar">
                <i class="bi bi-trash"></i>
            </button></td>
            <td><button class="editar btn btn-outline-success btn-sm" alt="Editar"
                        data-bs-toggle="tooltip" data-bs-placement="right" title="Editar">
                <i class="bi bi-pencil-fill"></i>
            </button></td>
          </tr>
    	</table>	
      </div>
      <div th:if="${#lists.isEmpty(cuentas)}">
        <p>Lista de conceptos vacia</p>
      </div>
    </div>
	<div id="formulario"></div>
	
	<div th:insert="~{modal :: confirmacion('Se eliminará la cuenta de la base de datos.')}"></div>
	<div th:insert="~{modal :: alerta}"></div>
	
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/conceptosCuentas.js}" ></script>
	
	
  </body>
</html>