<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Apuntes</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  	<link rel="stylesheet" th:href="@{/css/apuntes.css}"></link>
  	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
  			crossorigin="anonymous">
    </script>
    <!--css Date Picker-->
  	<link rel="stylesheet" th:href="@{/datePicker/css/bootstrap-datepicker.standalone.css}"/>
  </head>
  <body style="margin:10px 400px 0 400px">
    <div class="jumbotron">
	  <h1 class="display-5 text-center mb-3">
	    <span th:if="${#strings.isEmpty(asiento.codigo)}">Nuevo apunte</span>
	    <span th:unless="${#strings.isEmpty(asiento.codigo)}">Editar apunte</span>
	  </h1>
	</div>
	<div class="container">
	  <form method="POST" th:action="@{/grabar}" th:object="${asiento}">  
		<input type="hidden" th:field="*{codigo}" />
		<div class="form-group row">
		  <label class="col-2 col-form-label">Fecha</label>
		  <div class="col-10">
		    <input type="text" name="fecha" class="form_control fecha" placeholder="dd/mm/yyyy" 
		           th:errorclass="border-danger" th:field="*{fecha}" />
		    <span class="validationError error" th:if="${#fields.hasErrors('fecha')}" 
					      	th:errors="*{fecha}" >Error en fecha</span>		
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-2 col-form-label">Concepto</label>
		  <div class="col-10">
		    <select name="concepto" class="form-select" th:errorclass="border-danger" th:field="*{concepto}">
         	  <option value = ""> -- </option>
         	  <option th:each="concepto:${conceptos}" th:value="${concepto.codigo}" th:text="${concepto.descripcion}"></option>
	  		</select>
	  		<div class="validationError error mb-2" th:if="${#fields.hasErrors('concepto')}" 
					      	th:errors="*{concepto}" >Error en concepto</div>
		  </div>
	  	</div>
	  	<div class="form-group row mt-2">
	  	  <label class="col-2 col-form-label">Cuenta origen</label>
	  	  <div class="col-10">
	  		<select name="origen" class="form-select" th:errorclass="border-danger" th:field="*{origen}">
         	  <option value = ""> -- </option>
         	  <option th:each="cuenta:${cuentas}" th:value="${cuenta.codigo}" th:text="${cuenta.nombre}"></option>
	  		</select>
	  		<div class="validationError error mb-2" th:if="${#fields.hasErrors('origen')}" 
					      	th:errors="*{origen}" >Error en cuenta</div>
			<p class="error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Cuentas iguales</p>
	  	  </div>
	  	</div>
	  	<div class="form-group row mt-2">
	  	  <label class="col-2 col-form-label">Cuenta destino</label>
	  		<div class="col-sm-10">
	  		  <select name="destino" class="form-select" th:errorclass="border-danger" th:field="*{destino}">
         		<option value = ""> -- </option>
         		<option th:each="cuenta:${cuentas}" th:value="${cuenta.codigo}" th:text="${cuenta.nombre}"></option>
	  		  </select>
	  	      <div class="validationError error mb-2" th:if="${#fields.hasErrors('destino')}" 
					     	 th:errors="*{destino}" >Error en cuenta</div>
	  		</div>
	  	 </div>
	  	 <div class="form-group row mt-2">
	  	   <label class="col-sm-2 col-form-label">Importe</label></br>
	  	   <div class="col-sm-10">
	  		  <input type="text" name="importe" class="form_control" th:errorclass="border-danger" th:field="*{importe}" />
			  <span class="validationError error" th:if="${#fields.hasErrors('importe')}" 
					     	 th:errors="*{importe}" >Error en importe</span>
	  	   </div>
	  	 </div>
	  	 <a href="/apuntes" class="btn btn-outline-primary mt-3">Cancelar</a>
	  	 <input type="submit" class="btn btn-outline-success mt-3" value="Grabar"/>	
	  	 <button th:unless="${#strings.isEmpty(asiento.codigo)}"
	  			 type="button"  id="eliminar" class="btn btn-outline-danger mt-3 float-end" data-bs-toggle="modal" 
	  			 data-bs-target="#confirmarModal" th:attr="data-bs-apunte=${asiento.codigo}" >Eliminar</button>
	   </form>
	 </div>
	 <div th:insert="~{modal :: confirmacion('Va a eliminar el apunte de la base de datos')}"></div>
	 <div th:insert="~{modal :: alerta}"></div>
	  	
	 <script th:src="@{/js/bootstrap.bundle.min.js}"></script> 
	 <script th:src="@{datePicker/js/bootstrap-datepicker.min.js}"></script>
     <script th:src="@{datePicker/locales/bootstrap-datepicker.es.min.js}"></script>
     <script th:src="@{calendario.js}"></script>   
     <script th:src="@{eliminarApunte.js}"></script>  <!-- Indica el fichero que contiene la función eliminar invocada al hacer clic en el botón correspondiente -->
  </body>
</html>